/*
	Parc animalier Les Angles
	style_custo.css
	
*/

body{
background:#1a87c2;
}

#wrap{
width:850px;
}

#wrap_accueil{
width:850px;
background:#fff;
margin:30px auto 30px auto;
padding:0 1%;
border:1px solid #ccc;
}

.hr_custo {
margin : 0 0;
}

.bx-wrapper {
	padding-top: 10px;
	margin: 40px 0 0 0;
}

.bx-controls {
display:none;
}

#footer{
background:#efefef;
}


